<section class="section-sm pb-0">
  <div class="container">
    <ng-template #loadingOrError>
      <div *ngIf="errorMessage; else loading">
        <div
          *ngIf="errorMessage.includes('400 Bad Request')"
          class="text-center text-danger"
        >
          {{ errorMessage }}
        </div>
        <app-notfound
          *ngIf="errorMessage.includes('404 Not Found') && !(article$ | async)"
        ></app-notfound>
      </div>
      <ng-template #loading>
        <div class="text-center">
          <div class="spinner-border text-light" role="status"></div>
        </div>
      </ng-template>
    </ng-template>
    <div
      *ngIf="article$ | async as article; else loadingOrError"
      class="row justify-content-center"
    >
      <div class="col-lg-10">
        <div class="mb-5">
          <h3 class="h3 text-light mb-3 row" *ngIf="isEditingTitle">
            <div class="row align-items-center">
              <input
                [(ngModel)]="title"
                name="title"
                type="text"
                class="form-control ms-2 w-75"
                placeholder="Title"
              />

              <span
                class="col-1"
                (click)="updateTitle(article._id)"
                role="button"
              >
                <div
                  *ngIf="isEditingTitleLoading"
                  class="spinner-border text-light"
                  role="status"
                ></div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  class="bi bi-check"
                  viewBox="0 0 16 16"
                  *ngIf="!isEditingTitleLoading"
                >
                  <path
                    d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"
                  />
                </svg>
              </span>
              <span
                class="col-1 ms-2"
                (click)="changeIsEditingTitle()"
                role="button"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  class="bi bi-x"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
                  />
                </svg>
              </span>
            </div>
          </h3>

          <h3 class="h1 mb-4 post-title" *ngIf="!isEditingTitle">
            {{ article.title }}
            <span
              *ngIf="currentUser?._id === article?.authorId?._id"
              class="ms-2"
              role="button"
              (click)="changeIsEditingTitle()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-pen"
                viewBox="0 0 16 16"
              >
                <path
                  d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"
                />
              </svg>
            </span>
          </h3>

          <div class="d-flex justify-content-between">
            <ul class="card-meta list-inline mb-2">
              <li
                *ngIf="author$ | async as author"
                class="list-inline-item mt-2"
              >
                <a
                  [routerLink]="['/author', article.authorId._id]"
                  class="card-meta-author"
                >
                  <img
                    class="rounded-circle"
                    [src]="author.image"
                    alt="Author picture"
                  />
                  by <span>{{ author.name + " " + author.lastName }}</span>
                </a>
              </li>
              <li class="list-inline-item mt-2">—</li>
              <li class="list-inline-item mt-2">
                <i class="ti ti-clock"></i>
                <span>{{ article.date | date }}</span>
              </li>
            </ul>
            <button
              *ngIf="currentUser && currentUser?._id === (author$ | async)?._id"
              (click)="deleteArticle(article._id, article.image)"
              class="btn btn-primary m-1"
            >
              <span *ngIf="!isLoading; else loadingButton"> Delete </span>
              <ng-template #loadingButton>
                <div class="spinner-border text-light" role="status"></div>
              </ng-template>
            </button>
          </div>
        </div>
      </div>
      <div
        class="col-lg-12 mb-5 d-flex justify-content-center align-items-center position-relative"
      >
        <div
          *ngIf="currentUser?._id === article?.authorId?._id"
          class="post-cover text-center"
        >
          <img
            *ngIf="!isEditingImageLoading"
            class="img-fluid rounded w-100 h-auto"
            [src]="article.image"
            alt="What does it take to create an object that travels at 1% the speed of light?"
          />
          <div
            *ngIf="!isEditingImageLoading"
            class="overlay"
            role="button"
            (click)="triggerFileUpload()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor"
              class="bi bi-camera"
              viewBox="0 0 16 16"
            >
              <path
                d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z"
              />
              <path
                d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"
              />
            </svg>
            <input
              type="file"
              class="d-none"
              #fileInput
              (change)="uploadArticleImage(article._id, $event)"
              accept="image/*"
            />
          </div>
          <div
            *ngIf="isEditingImageLoading"
            class="spinner-border text-light"
            role="status"
          ></div>
        </div>
      </div>
      <div class="col-lg-12">
        <div
          *ngIf="currentUser?._id !== article.authorId._id"
          class="post-cover mb-5 text-center"
        >
          <img
            class="w-100 h-auto rounded"
            [src]="article.image"
            alt="What does it take to create an object that travels at 1% the speed of light?"
          />
        </div>
      </div>

      <div class="col-lg-8 post-content-block order-0 order-lg-2">
        <h6>
          Description:
          <span
            *ngIf="
              !isEditingDescription && currentUser?._id === article.authorId._id
            "
            class="ms-2"
            role="button"
            (click)="changeIsEditingDescription()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pen"
              viewBox="0 0 16 16"
            >
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"
              />
            </svg>
          </span>
        </h6>
        <div class="row align-items-center" *ngIf="isEditingDescription">
          <textarea
            [(ngModel)]="description"
            name="lastname"
            type="text"
            class="form-control m-1 text-light"
            placeholder="description"
            cols="30"
            rows="4"
          ></textarea>

          <span
            class="col-1"
            (click)="updateDescription(article._id)"
            role="button"
          >
            <div
              *ngIf="isEditingDescriptionLoading"
              class="spinner-border text-light"
              role="status"
            ></div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-check"
              viewBox="0 0 16 16"
              *ngIf="!isEditingDescriptionLoading"
            >
              <path
                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"
              />
            </svg>
          </span>
          <span
            class="col-1 ms-2"
            (click)="changeIsEditingDescription()"
            role="button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-x"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
              />
            </svg>
          </span>
        </div>
        <div
          *ngIf="!isEditingDescription"
          class="content"
          [innerHTML]="article.description"
        ></div>
      </div>
      <div class="col-lg-8 post-content-block order-0 order-lg-2">
        <hr />
        <h6
          *ngIf="
            !isEditingContent &&
            currentUser?._id === (article$ | async)?.authorId?._id
          "
        >
          Content:
          <span class="ms-2" role="button" (click)="changeIsEditingContent()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pen"
              viewBox="0 0 16 16"
            >
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"
              />
            </svg>
          </span>
        </h6>
        <div class="row" *ngIf="isEditingContent">
          <angular-editor
            name="content"
            [placeholder]="'Enter text here...'"
            [(ngModel)]="content"
          ></angular-editor>
          <span
            class="col-1"
            (click)="updateContent(article._id)"
            role="button"
          >
            <div
              *ngIf="isEditingTitleLoading"
              class="spinner-border text-light"
              role="status"
            ></div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-check"
              viewBox="0 0 16 16"
              *ngIf="!isEditingTitleLoading"
            >
              <path
                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"
              />
            </svg>
          </span>
          <span
            class="col-1 ms-2"
            (click)="changeIsEditingContent()"
            role="button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-x"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
              />
            </svg>
          </span>
        </div>
        <div
          *ngIf="!isEditingContent"
          class="content"
          [innerHTML]="article.content"
        ></div>

        <ul *ngIf="isEditingTag" class="d-flex gap-2 w-100 flex-wrap">
          <li
            class="bg-dark d-flex justify-content-between align-items-center rounded-pill post-tag"
            *ngFor="let tag of tags; index as idx"
          >
            <span>
              {{ tag }}
            </span>

            <span (click)="removeTag(idx)" class="col-1 ms-2" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-x-circle text-light"
                viewBox="0 0 16 16"
                width="10"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                />
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
                />
              </svg>
            </span>
          </li>
        </ul>
        <div *ngIf="isEditingTag" class="row m-1">
          <input
            name="tags"
            [(ngModel)]="tag"
            type="text"
            class="form-control w-75"
            placeholder="tag"
            (keydown)="onTagKeyDown($event)"
            [disabled]="tags.length >= 5"
          />
          <button
            [disabled]="tags.length >= 5"
            (click)="addTag($event)"
            class="btn btn-light text-dark w-25"
          >
            Add
          </button>
          <span class="col-1" (click)="updateTag(article._id)" role="button">
            <div
              *ngIf="isEditingTagLoading"
              class="spinner-border text-light"
              role="status"
            ></div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-check"
              viewBox="0 0 16 16"
              *ngIf="!isEditingTagLoading"
            >
              <path
                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"
              />
            </svg>
          </span>
          <span
            class="col-1 ms-2"
            (click)="changeIsEditingTags()"
            role="button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-x"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
              />
            </svg>
          </span>
        </div>
        <ul
          *ngIf="!isEditingTag"
          class="post-meta-tag list-unstyled list-inline mt-5"
        >
          <li class="list-inline-item">Tags:</li>
          <li class="list-inline-item" *ngFor="let tag of article.tags">
            <a class="bg-white" href="tag-single.html">{{ tag }}</a>
          </li>
          <span
            *ngIf="currentUser?._id === article?.authorId?._id"
            class="ms-2"
            role="button"
            (click)="changeIsEditingTags()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pen"
              viewBox="0 0 16 16"
            >
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"
              />
            </svg>
          </span>
        </ul>
        <div *ngIf="currentUser">
          <hr />
          <h6>Comments</h6>
          <div class="row m-1">
            <textarea
              name="comment"
              [(ngModel)]="comment"
              type="text"
              class="form-control text-light w-75"
              placeholder="Create a comment"
              cols="30"
              rows="2"
            ></textarea>
            <button
              (click)="createComment()"
              [disabled]="comment.length === 0"
              class="btn btn-light text-dark w-25 d-flex align-items-center justify-content-center"
            >
              <span *ngIf="!isCommentLoading; else commentLoading"
                >Comment</span
              >

              <ng-template #commentLoading>
                <div class="text-center">
                  <div class="spinner-border text-dark h-2 w-2" role="status"></div>
                </div>
              </ng-template>
            </button>
          </div>

          <div class="comments-section">
            <ul class="card-meta list-inline mb-2">
              <li
                *ngFor="let comment of commentsList"
                class="list-inline-item mt-3"
              >
                <div class="d-flex align-items-center mb-2">
                  <a
                    [routerLink]="['/author', comment.authorId._id]"
                    class="card-meta-author"
                  >
                    <img
                      class="rounded-circle"
                      [src]="comment.authorId.image"
                      alt="Author picture"
                    />
                    by
                    <span>{{
                      comment.authorId.name + " " + comment.authorId.lastName
                    }}</span>
                  </a>
                    <li class="list-inline-item ms-2">—</li>
                    <li class="list-inline-item">
                      <i class="ti ti-clock"></i>
                      <span>{{ formatDate(comment.date) }}</span>
                    </li>
                </div>
                <span>{{ comment.content }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
